/*---------- 공통 속성 ----------*/
*{ margin: 0;padding: 0;font-family: 'roboto','Noto Sans KR', sans-serif;letter-spacing: -0.05em;}
html, body {width: 100%;height: 100%;position: relative;}
html {overflow-y: scroll; overflow-x: hidden; } 
article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section {display: block;}
li {list-style-type: none;} 
a {text-decoration: none;color: inherit;} 
table {border-collapse: collapse;}
input, select {vertical-align: middle;}
button,
input[type=button],
input[type=submit],
input[type=reset]{cursor: pointer;}
button,input{outline: none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal; margin-top: 0; }
img{vertical-align:top;font-size:0;border:0;}
/*---------- 아이콘폰트 CDN ----------*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); 






#wrap {padding: 0 40px;margin: 0 auto;text-align: center;width: 100%;box-sizing: border-box;}
#wrap header {position: fixed;width: 100%;height: 100px;top: 0;left: 0;background-color: #fff;z-index: 100;line-height: 100px;}
#wrap header nav {display: flex;justify-content: space-between;align-items: center;max-width: 1200px;margin: 0 auto;width: 100%;}
#wrap header .logo {cursor: pointer;display: table;}
#wrap header .logo img {width: 230px;display: table-cell;vertical-align: middle;}
#wrap header .button button {border-radius: 40px;padding:10px 20px;background-color: #F93755;border: none; color: #fff;font-size: 20px;}


#wrap .container {max-width: 1200px;margin: 150px auto 0;padding-bottom: 100px;}
#wrap .container .text {position: relative;margin: 50px 0;}
#wrap .container .text p {font-size: 42px;font-weight: bold;line-height: 80px;color: #333;}
#wrap .container .text p:last-of-type {font-size: 36px;}
#wrap .container .text span {position: absolute;width:60px;height: 5px;background-color: #333;bottom: 70px;}
#wrap .container .cardImg {display: grid;grid-template-columns: repeat(3, 1fr);margin-top: 80px;place-items: center;}


/* section 02 */
#wrap .container .cont02 {margin-top: 150px;}
#wrap .container .cont02 .cardImg div {background-color: #005876;padding: 40px;box-sizing: border-box;}
#wrap .container .cont02 .cardImg div p {color: #fff;width: 200px;margin: 30px auto 0;text-align: center;height: 70px;font-size: 18px;font-weight: 500;}

/* section 03 */
#wrap .container .cont03 {margin-top: 100px;}
#wrap .container .cont03>img {width: 400px;}
#wrap .container .cont03 div .fieldset {margin: 80px auto 0;padding: 20px 40px;max-width: 1000px;border: 1px solid #333;}
#wrap .container .cont03 div .fieldset ul {display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;}
#wrap .container .cont03 div .fieldset ul:last-of-type {border-bottom: 1px solid #000; padding-bottom: 20px;margin-bottom: 0;}
#wrap .container .cont03 div .fieldset ul li {flex: 1;display: flex;justify-content: space-around;align-items: center;}
#wrap .container .cont03 div .fieldset ul li.age,
#wrap .container .cont03 div .fieldset ul li.money {position: relative;}
#wrap .container .cont03 div .fieldset ul li.money::after {
    content: '원';
    position: absolute;
    color: #333;
    font-size: 16px;
    right: 10px;
}
#wrap .container .cont03 div .fieldset ul li.age::after {
    content: '세';
    position: absolute;
    color: #333;
    font-size: 16px;
    right: 10px;
}
#wrap .container .cont03 div .fieldset ul li label {flex: 0.5;}
#wrap .container .cont03 div .fieldset ul li input {padding: 5px 15px;flex: 1;}
#wrap .container .cont03 div .fieldset ul li input:focus::placeholder {opacity: 0;}
#wrap .container .cont03 div .fieldset ul li:not(.radioLi) label {font-weight: bold;}
#wrap .container .cont03 div .fieldset ul li .radio {flex: 1;display: flex;justify-content: space-around;align-items: center;}
#wrap .container .cont03 div .fieldset ul li .radio span {flex: 0.5;}
#wrap .container .cont03 div .fieldset ul li .radio>span {font-weight: bold;} 
#wrap .container .cont03 div .fieldset ul li .radio div {flex: 1;display: flex;}
#wrap .container .cont03 div .fieldset ul li .radio div label {cursor: pointer;text-align: left;}
#wrap .container .cont03 div .fieldset ul li .radio div label input {display: inline-block;margin-right: 5px;}
#wrap .container .cont03 div .fieldset .bottom {padding-top: 20px;}
#wrap .container .cont03 div .fieldset .bottom>div {display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;}
#wrap .container .cont03 div .fieldset .bottom>div img {width: 20px;height: 20px;margin-right: 20px;}
#wrap .container .cont03 div .fieldset .bottom>div span {cursor: pointer;}
#wrap .container .cont03 div .fieldset .bottom>div span.xi-check::before {margin-right: 10px;}
#wrap .container .cont03 div .fieldset .bottom>div span.xi-check.active:before {color: #F93755;}
#wrap .container .cont03 div .fieldset .bottom>button {
    width: 100%;
    background-color: #F93755;
    color: #fff;
    font-weight: bold
    ;text-align: center;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    margin-top: 20px;
}



/*---------- modal style ----------*/
.bgcolor {
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    z-index:9999;
    display: none;
    transition: 0.5s;
}
.popUp {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: none;
    z-index: 1000;
    width: 90%;
    max-width: 800px;
    text-align: center;
}



/* 모달창 공통 */
.popUp>div.contentGr {position: relative;}
.popUp>div.contentGr h3 {font-size: 20px;font-weight: bold;margin: 20px;}
.popUp>div.contentGr h2.bdtop {border-top: 1px solid #999;padding: 20px 20px 0;}
.popUp>div.contentGr>div.modalcont {overflow-y: scroll;height: 400px;width: 100%;text-align: left;}
.popUp>div.contentGr>span.close {position: absolute;top: 5px;right: 20px;}
.popUp>div.btnGr {margin-top: 40px;display: flex;height: 60px;}
.popUp>div.btnGr button {color: #fff;background-color: #333;font-weight: bold;font-size: 18px;flex: 1;border: none;line-height: 60px;}
.popUp>div.contentGr>div.modalcont {font-size:16px; line-height:26px;border-top: 1px solid #999;padding: 0 20px;box-sizing: border-box;}
.popUp>div.contentGr>div.modalcont h2 {font-size:18px; line-height:26px; font-weight:600; letter-spacing:-1px; margin:20px 0 20px;}

.popUp>div.contentGr>div.modalcont p {margin:10px 10px 10px 0;}
.popUp>div.contentGr>div.modalcont table {width:100%; max-width:1200px; border:solid 1px #ccc;  border-right:none; margin-top:20px;table-layout: fixed;margin-bottom: 50px;}
.popUp>div.contentGr>div.modalcont table:first-of-type {margin-top: 60px;}
.popUp>div.contentGr>div.modalcont th {background-color:#eee; font-size:16px;  font-weight:600; padding:10px 0; border-right:solid 1px #ccc;}
.popUp>div.contentGr>div.modalcont td {font-size:15px;  font-weight:500; padding:10px; border-right:solid 1px #ccc;word-break: break-all;text-align: center;}

.popUp>div.contentGr>div.modalcont.secomc h2 {margin: 20px 10px 20px 0;}
.popUp>div.contentGr>div.modalcont.secomc table:first-of-type {margin-top: 0;}



/* section 04 */
#wrap .container .cont04 {max-width: 800px;margin: 70px auto 0;}
#wrap .container .cont04 p {font-size: 38px;letter-spacing: -0.05em;font-weight: bold;line-height: 80px;color: #333;}
#wrap .container .cont04 ul {display: flex;justify-content: space-between;align-items: center;margin-top: 30px;}
#wrap .container .cont04 ul li:nth-child(2n-1) {display: table;width: 200px;height: 200px;border-radius: 50%;background-color: #005876;color: #fff;text-align: center;padding: 20px;box-sizing: border-box;}
#wrap .container .cont04 ul li:nth-child(2n-1) span {display: table-cell;vertical-align: middle;font-size: 32px;font-weight: bold;}
#wrap .container .cont04 ul li:nth-child(2n) img {width: 80px;height: 80px;}





/* 작은 PC */
@media (min-width : 1024px) and (max-width: 1200px) {
    #wrap header {height: 80px;line-height: 80px;}
    #wrap header nav .logo img {width: 180px;}
    #wrap header nav {padding: 0 40px;box-sizing: border-box;}
    #wrap header nav .button button {padding: 10px 15px;font-size: 16px;}

    #wrap .container {margin-top: 130px;}
    #wrap .container .text p {font-size: 32px;line-height: 60px;}
    #wrap .container .text p:last-of-type {font-size: 26px;}
    #wrap .container .text span {bottom: 53px;height: 3px;}
    #wrap .container img {width: 80%;}
    #wrap .container .cont02 {margin-top: 100px;}
    #wrap .container .cont02 .cardImg div {padding: 30px;}
    #wrap .container .cont02 .cardImg div p {font-size: 16px;height: 60px;}
    #wrap .container .cont03 div .fieldset .bottom>button {font-size: 22px;}
    #wrap .container .cont04 p {font-size: 32px;}
    #wrap .container .cont04 ul li:nth-child(2n-1) span {font-size: 28px;}
}


/* Tablet */
@media (min-width : 768px) and (max-width: 1023.99px) {
    #wrap header {height: 80px;line-height: 80px;}
    #wrap header nav {padding: 0 40px;box-sizing: border-box;}
    #wrap header nav .logo img {width: 180px;}
    #wrap header nav .button button {padding: 10px 15px;font-size: 16px;}

    #wrap .container {margin-top: 130px;}
    #wrap .container .text p {font-size: 28px;line-height: 60px;}
    #wrap .container .text p:last-of-type {font-size: 26px;}
    #wrap .container .text span {bottom: 53px;height: 3px;}
    #wrap .container img {width: 80%;}
    #wrap .container .cont02 {margin-top: 100px;}
    #wrap .container .cont02 .cardImg div {padding: 20px 0 20px 0;}
    #wrap .container .cont02 .cardImg div p {font-size: 16px;height: 60px;}
    #wrap .container .cont03 div .fieldset .bottom>button {font-size: 22px;}
    #wrap .container .cont04 p {font-size: 28px;}
    #wrap .container .cont04 ul li:nth-child(2n-1) {width: 150px;height: 150px;}
    #wrap .container .cont04 ul li:nth-child(2n-1) span {font-size: 22px;}
}



/* mobile */
@media (max-width: 767.99px) {
    #wrap {padding: 0 20px;}
    #wrap header {height: 80px;line-height: 80px;}
    #wrap header nav {padding: 0 20px;box-sizing: border-box;}
    #wrap header nav .logo img {width: 150px;}
    #wrap header nav .button button {padding: 8px;font-size: 13px;}

    #wrap .container {margin-top: 100px;}
    #wrap .container .text {width: 100%;margin: 50px auto 30px;}
    #wrap .container .text p {font-size: 22px;line-height: 40px;word-break: keep-all;}
    #wrap .container .text p:last-of-type {font-size: 22px;}
    #wrap .container .text span {display: none;}
    #wrap .container .cardImg {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        margin-top: 30px;
        row-gap: 10px;
        column-gap: 10px;
    }
    #wrap .container img {width: 100%;}

    #wrap .container .cont02 {margin-top: 80px;}
    #wrap .container .cont02 .cardImg div {padding: 20px;width: 100%;}
    #wrap .container .cont02 .cardImg div p {font-size: 16px;height: 70px;width: auto;}
 
    #wrap .container .cont03 {margin-top: 80px;}
    #wrap .container .cont03 div .fieldset {padding: 0;}
    #wrap .container .cont03 div .fieldset ul {flex-direction: column;row-gap: 10px;}
    #wrap .container .cont03 div .fieldset .bottom>button {font-size: 18px;}
    #wrap .container .cont03>img {max-width: 400px;width: 100%;}
    #wrap .container .cont03 div .fieldset {border: none;}
    #wrap .container .cont03 div .fieldset ul {align-items: start;}
    #wrap .container .cont03 div .fieldset ul li {align-items: start;flex-direction: column;width: 100%;}
    #wrap .container .cont03 div .fieldset ul li label {margin-bottom: 10px;}
    #wrap .container .cont03 div .fieldset ul li input {width: 100%;box-sizing: border-box;}
    #wrap .container .cont03 div .fieldset ul li.age::after,
    #wrap .container .cont03 div .fieldset ul li.money::after {bottom: 5px;}
    #wrap .container .cont03 div .fieldset ul:last-of-type {border: none;}
    #wrap .container .cont03 div .fieldset .bottom span {font-size: 14px;}
    #wrap .container .cont03 div .fieldset ul li .radio {width: 100%;flex-direction: column;align-items: start;}
    #wrap .container .cont03 div .fieldset ul li .radio span {text-align: left;}
    #wrap .container .cont03 div .fieldset ul li .radio div label {margin-bottom: 0;text-align: left;}
    #wrap .container .cont03 div .fieldset ul li .radio div label:nth-child(2) {margin-left: 20px;}
    #wrap .container .cont03 div .fieldset ul li .radio div input {width: auto;}

    #wrap .container .cont04 p {font-size: 28px;}
    #wrap .container .cont04 ul li:nth-child(2n-1) span {font-size: 16px;}

    .popUp>div.contentGr h3 {font-size: 18px;}
    .popUp>div.contentGr>div.modalcont {font-size:14px; line-height:26px;padding-right: 20px;}
    .popUp>div.contentGr>div.modalcont h2 {font-size:16px; line-height:26px; font-weight:600; letter-spacing:-1px; margin:20px 0 20px;}
    .popUp>div.contentGr>div.modalcont p {margin:10px 10px 10px 0;}
    .popUp>div.btnGr button {font-size: 16px;}

}   

@media (min-width : 650px) and (max-width: 767.99px) {
    #wrap .container .cont04 ul li:nth-child(2n-1) {width: 150px;height: 150px;}

}

@media (min-width : 500px) and (max-width: 649.99px) {
    #wrap .container .cont04 ul {flex-wrap:wrap;justify-content: center;align-items: center; overflow:auto;}
    #wrap .container .cont04 ul li:nth-child(2n-1) {width: 100px;height: 100px;}
}

@media (max-width: 499.99px) {
    #wrap .container .cont04 ul {flex-wrap:wrap;justify-content: center;align-items: center; overflow:auto;}
    #wrap .container .cont04 ul li:last-child {margin-top: 20px;}
    #wrap .container .cont04 ul li:nth-child(2n-1) {width:90px;height: 90px;}
    #wrap .container .cont04 ul li:nth-child(2n-1) span {font-size: 14px;}
}


@media (min-width : 450px) and (max-width: 676.99px) {
    #wrap .container .cont02 .cardImg div:last-child,
    #wrap .container .cont01 .cardImg img:last-child {grid-row: span 1; grid-column: span 2;width: 50%;}

}